body {font-family: "Lato", sans-serif;}
.main{
	width: 100%;
}

.formDiv {
	width: 80%;
	background-color:#b4cdd0;
	padding:30px;
	height: 550px;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}
input[type=text], input[type=number], input[type=date], textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: monospace;
}

input[type=submit], #cancel {
	width: 20%;
	color: #000;
	padding: 12px 18px;
	float: right;
	margin-left: 8px;
	border: none;
	border-radius: 4px;
}

form{
	border-radius: 5px;
	display: none;
}


label{
	font-size: 15px;
}

button:hover { 
	opacity: 0.8; 
}

.hide
{
	display: none;
	
}


.modal-content { 
	background-color: #2196f3; 
	margin: 15% auto 15% auto; 
	border: 1px solid #888; 
	width: 35%;
	color: #fff;
	padding: 40px 30px;
	display: none;
	height: 400px;

} 
.required{
	color: red;
}

#addDepartmentPopup {
	width:15%;
	height:50px;
	border-radius:6px;
	background-color:#2196f3;
	color:#fff;
	float: right;
	font-size:15px;
	cursor:pointer;
	margin-top: 30px;

}
#sub, button[type=submit]{
	float: right;
	background-color:grey;
	padding: 12px 14px;
	margin: 8px;
	border-radius: 8px;

}
table{
	width: 30%; 
	margin: auto;
	margin-top: 10px;
	padding: 2px 2px 2px 2px;
	font-family: sans-serif;
	font-size: 15px;
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 2px;    
}

table button{
	background-color: #2196f3;
	border-radius: 4px;
	padding: 10px 12px;
	cursor: pointer;
}
table button:hover{
	opacity: 0.8;
}

.active {
	color:#000!important;
	background-color:#ff9800;
}
